# Setup

In [ ]:
# General Libraries
import pandas as pd
import numpy as np
import os
import sys
import sklearn
import pickle

# For Plotting
import matplotlib.pyplot as plt
import seaborn as sns

# For reproducibility
np.random.seed(42)

# To Store the pretty images we create
ROOT = "/content/drive/MyDrive/ Trilytics 24"
PROJECT_NAME = "Images"
IMAGES_PATH = os.path.join(ROOT, PROJECT_NAME)
os.makedirs(IMAGES_PATH, exist_ok = True)

def save_fig(figname, extension = "png", resolution = 300, tight_layout = True):
  path = os.path.join(IMAGES_PATH, figname + '.' + extension)
  if tight_layout:
    plt.tight_layout()
  plt.savefig(path, format = extension, dpi = 300)

In [ ]:
import pandas as pd
sales = pd.read_csv('/content/drive/MyDrive/Trilytics 24/sales.csv')
store = pd.read_csv('/content/drive/MyDrive/Trilytics 24/store.csv')
promotions = pd.read_csv('/content/drive/MyDrive/Trilytics 24/promotions.csv')

In [ ]:
store2 = pd.read_csv('/content/drive/MyDrive/Trilytics 24/store.csv')

## Store

In [ ]:
store2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2452 entries, 0 to 2451
Data columns (total 34 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   STORE_KEY                      2452 non-null   int64
 1   STORE_NUMBER                   2452 non-null   int64
 2   ROW_EFFECTIVE_TIMESTAMP        2452 non-null   object
 3   ROW_EXPIRATION_TIMESTAMP       2452 non-null   object
 4   STORE_NAME                     2449 non-null   object
 5   STORE_TYPE_CODE                2452 non-null   object
 6   STORE_TYPE_NAME                2452 non-null   object
 7   OPEN_DATE                      2452 non-null   object
 8   CLOSE_DATE                     2452 non-null   object
 9   CITY_NAME                      2446 non-null   object
 10  STATE_CODE                     2449 non-null   object
 11  STATE_NAME                     2450 non-null   object
 12  COUNTRY_CODE                   2452 non-null   object
 13  COUNTRY_NAME                   0 non-null      float64
 14  TIME_ZONE_NAME                 2450 non-null   object
 15  DMA_ID                         2448 non-null   float64
 16  DMA_NAME                       2450 non-null   object
 17  ROYALTY_RATE                   0 non-null      float64
 18  STORE_STATUS                   2452 non-null   object
 19  REGION_ID                      2448 non-null   float64
 20  REGION_NAME                    2450 non-null   object
 21  PRIOR_STORE_NUMBER             13 non-null     float64
 22  STORE_LIVE_DATE                2172 non-null   object
 23  STORE_FUNCTIONAL_STATUS        2452 non-null   object
 24  GLOBAL_REGION_NAME             2452 non-null   object
 25  GLOBAL_REGION_STORE_TYPE_NAME  2452 non-null   object
 26  AREA_REGION                    2450 non-null   object
 27  DISPATCH_GO_LIVE_DATE          1973 non-null   object
 28  DOOR_DASH_GO_LIVE_DATE         1704 non-null   object
 29  DOOR_DASH_MARKUP_GO_LIVE_DATE  2450 non-null   object
 30  STORE_CONCEPT_NAME             2001 non-null   object
 31  UBER_EATS_MARKUP_DATE          2450 non-null   object
 32  EDW_CREATE_TIMESTAMP           2452 non-null   object
 33  EDW_MODIFY_TIMESTAMP           2452 non-null   object
dtypes: float64(5), int64(2), object(27)
memory usage: 651.4+ KB

In [ ]:
store = store2.iloc[:,[1,5,7,8,9,10,14,15,20,18,23]] ## Not Completed Yet.... Working on it

In [ ]:
store.head()

,STORE_NUMBER,STORE_TYPE_CODE,OPEN_DATE,CLOSE_DATE,CITY_NAME,STATE_CODE,TIME_ZONE_NAME,DMA_ID,REGION_NAME,STORE_STATUS,STORE_FUNCTIONAL_STATUS
0,2821,Fran,12/31/1999,12/31/1999,Schenectady,NY,Eastern,555.0,North,Future,Signed Lease
1,2822,Fran,12/31/1999,12/31/1999,Palm Bay,FL,Unknown,561.0,Southeast,Future,Signed Lease
2,2819,Fran,12/31/1999,12/31/1999,Staten Island,NY,Unknown,501.0,North,Future,Signed Lease
3,2820,Fran,12/31/1999,12/31/1999,Huber Heights,OH,Unknown,542.0,North,Future,Signed Lease
4,2816,Fran,12/31/1999,12/31/1999,Pell City,AL,Unknown,630.0,Southeast,Future,Signed Lease

In [ ]:
store.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2452 entries, 0 to 2451
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   STORE_NUMBER             2452 non-null   int64
 1   STORE_TYPE_CODE          2452 non-null   object
 2   OPEN_DATE                2452 non-null   object
 3   CLOSE_DATE               2452 non-null   object
 4   CITY_NAME                2446 non-null   object
 5   STATE_CODE               2449 non-null   object
 6   TIME_ZONE_NAME           2450 non-null   object
 7   DMA_ID                   2448 non-null   float64
 8   REGION_NAME              2450 non-null   object
 9   STORE_STATUS             2452 non-null   object
 10  STORE_FUNCTIONAL_STATUS  2452 non-null   object
dtypes: float64(1), int64(1), object(9)
memory usage: 210.8+ KB

In [ ]:
store['CLOSE_DATE'] = pd.to_datetime(store['CLOSE_DATE'], format='%m/%d/%Y')

<ipython-input-85-d31566bad37a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  store['CLOSE_DATE'] = pd.to_datetime(store['CLOSE_DATE'], format='%m/%d/%Y')

In [ ]:
#store[store['CLOSE_DATE'] <= ]

In [ ]:
store[store['STORE_STATUS'] == 'Inactive']['STORE_NUMBER']

116        7
117       10
118      140
119       17
120       20
        ...
1825     799
1826     612
2149     610
2186    7014
2450      -7
Name: STORE_NUMBER, Length: 170, dtype: int64

---

In [ ]:
store2.loc[store['STORE_NUMBER'] ==140]

,STORE_KEY,STORE_NUMBER,ROW_EFFECTIVE_TIMESTAMP,ROW_EXPIRATION_TIMESTAMP,STORE_NAME,STORE_TYPE_CODE,STORE_TYPE_NAME,OPEN_DATE,CLOSE_DATE,CITY_NAME,...,GLOBAL_REGION_NAME,GLOBAL_REGION_STORE_TYPE_NAME,AREA_REGION,DISPATCH_GO_LIVE_DATE,DOOR_DASH_GO_LIVE_DATE,DOOR_DASH_MARKUP_GO_LIVE_DATE,STORE_CONCEPT_NAME,UBER_EATS_MARKUP_DATE,EDW_CREATE_TIMESTAMP,EDW_MODIFY_TIMESTAMP
118,963,140,2024-02-02T02:06:58.408Z,2024-02-02T02:06:58.408Z,TX140,Fran,Franchise,12/9/2003,7/15/2017,MESQUITE,...,Domestic,DomesticFranchise,DALLAS-FT. WORTH,NaN,NaN,12/9/2003,NaN,12/9/2003,2023-06-13T20:38:55.210Z,2024-02-02T02:06:58.408Z

In [ ]:
print(store.shape)
print(store2.shape)

(2452, 11)
(2452, 34)

In [ ]:
store.isna().sum()

STORE_NUMBER               0
STORE_TYPE_CODE            0
OPEN_DATE                  0
CLOSE_DATE                 0
CITY_NAME                  6
STATE_CODE                 3
TIME_ZONE_NAME             2
DMA_ID                     4
REGION_NAME                2
STORE_STATUS               0
STORE_FUNCTIONAL_STATUS    0
dtype: int64

In [ ]:
results=store.groupby('CITY_NAME')['STATE_CODE'].value_counts()
results

CITY_NAME       STATE_CODE
ALBUQUERQUE     NM             22
ANCHORAGE       AK              3
Atlanta         GA             72
BALTIMORE       MD             32
BATON ROUGE     LA             36
BROCKTON        MA             10
BURLINGTON      IA             10
Birmingham      AL             26
Boise           ID              8
Bridgeport      CT             15
CHARLOTTE       NC             57
CHICAGO         IL            147
CLINTON         MS             15
COLUMBUS        OH             70
Cheyenne        WY              1
DENVER          CO             45
DETROIT         MI             46
Eagle Mountain  UT             29
FARGO           ND              1
GREEN BAY       WI             22
GREENVILLE      SC             23
HILLSIDE        NJ             42
HONOLULU        HI              2
HOUSTON         TX            497
INDIANAPOLIS    IN             52
JACKSONVILLE    AR             23
KANSAS CITY     KS             20
Kansas City     MO             36
LAKEWOOD        WA             37
LAS VEGAS       NV             45
LOS ANGELES     CA            470
LOUISVILLE      KY             13
MANCHESTER      NH              2
MARTINSBURG     WV              1
Miami           FL            148
NASHVILLE       TN             45
New York        NY             86
OKLAHOMA CITY   OK             27
OMAHA           NE             16
PHILADELPHIA    PA             52
PHOENIX         AZ             60
PORTLAND        OR             26
SIOUX FALLS     SD              1
St. Paul        MN             11
Virginia Beach  VA             43
Washington      DC              1
Wilmington      DE              4
Name: count, dtype: int64

In [ ]:
results2=store.groupby('CITY_NAME')['DMA_ID'].value_counts()
results2

CITY_NAME       DMA_ID
ALBUQUERQUE     790.0     21
                765.0      1
ANCHORAGE       743.0      3
Atlanta         524.0     60
                507.0      4
                          ..
Virginia Beach  544.0     14
                556.0      3
                573.0      1
Washington      511.0      1
Wilmington      504.0      4
Name: count, Length: 192, dtype: int64

In [ ]:
# Create lookup maps
city_to_state = store.dropna(subset=['CITY_NAME', 'STATE_CODE']).set_index('CITY_NAME')['STATE_CODE'].to_dict()
state_to_time_zone = store.dropna(subset=['STATE_CODE', 'TIME_ZONE_NAME']).set_index('STATE_CODE')['TIME_ZONE_NAME'].to_dict()
city_to_dma_id = store.dropna(subset=['CITY_NAME', 'DMA_ID']).set_index('CITY_NAME')['DMA_ID'].to_dict()
state_to_region = store.dropna(subset=['STATE_CODE', 'REGION_NAME']).set_index('STATE_CODE')['REGION_NAME'].to_dict()


store['STATE_CODE'] = store.apply(lambda row: city_to_state.get(row['CITY_NAME'], row['STATE_CODE']), axis=1)

store['TIME_ZONE_NAME'] = store.apply(lambda row: state_to_time_zone.get(row['STATE_CODE'], row['TIME_ZONE_NAME']), axis=1)


store['DMA_ID'] = store.apply(lambda row: city_to_dma_id.get(row['CITY_NAME'], row['DMA_ID']), axis=1)


store['REGION_NAME'] = store.apply(lambda row: state_to_region.get(row['STATE_CODE'], row['REGION_NAME']), axis=1)


store['STATE_CODE'] = store.apply(lambda row: city_to_state.get(row['CITY_NAME'], row['STATE_CODE']), axis=1)
store['TIME_ZONE_NAME'] = store.apply(lambda row: state_to_time_zone.get(row['STATE_CODE'], row['TIME_ZONE_NAME']), axis=1)


state_to_city = store.dropna(subset=['CITY_NAME', 'STATE_CODE']).groupby('STATE_CODE')['CITY_NAME'].apply(lambda x: x.mode()[0]).to_dict()

store['CITY_NAME'] = store.apply(lambda row: state_to_city.get(row['STATE_CODE'], row['CITY_NAME']), axis=1)

<ipython-input-91-3b5523ba8e68>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  store['STATE_CODE'] = store.apply(lambda row: city_to_state.get(row['CITY_NAME'], row['STATE_CODE']), axis=1)
<ipython-input-91-3b5523ba8e68>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  store['TIME_ZONE_NAME'] = store.apply(lambda row: state_to_time_zone.get(row['STATE_CODE'], row['TIME_ZONE_NAME']), axis=1)
<ipython-input-91-3b5523ba8e68>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  store['DMA_ID'] = store.apply(lambda row: city_to_dma_id.get(row['CITY_NAME'], row['DMA_ID']), axis=1)
<ipython-input-91-3b5523ba8e68>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  store['REGION_NAME'] = store.apply(lambda row: state_to_region.get(row['STATE_CODE'], row['REGION_NAME']), axis=1)
<ipython-input-91-3b5523ba8e68>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  store['STATE_CODE'] = store.apply(lambda row: city_to_state.get(row['CITY_NAME'], row['STATE_CODE']), axis=1)
<ipython-input-91-3b5523ba8e68>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  store['TIME_ZONE_NAME'] = store.apply(lambda row: state_to_time_zone.get(row['STATE_CODE'], row['TIME_ZONE_NAME']), axis=1)
<ipython-input-91-3b5523ba8e68>:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  store['CITY_NAME'] = store.apply(lambda row: state_to_city.get(row['STATE_CODE'], row['CITY_NAME']), axis=1)

In [ ]:
store.isna().sum()

STORE_NUMBER               0
STORE_TYPE_CODE            0
OPEN_DATE                  0
CLOSE_DATE                 0
CITY_NAME                  2
STATE_CODE                 2
TIME_ZONE_NAME             2
DMA_ID                     2
REGION_NAME                0
STORE_STATUS               0
STORE_FUNCTIONAL_STATUS    0
dtype: int64

In [ ]:
# Drop rows where specified columns have missing values beacise they cannot be mapped
store.dropna(subset=['CITY_NAME', 'STATE_CODE', 'TIME_ZONE_NAME', 'DMA_ID'], inplace=True)

<ipython-input-93-147da01bb467>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  store.dropna(subset=['CITY_NAME', 'STATE_CODE', 'TIME_ZONE_NAME', 'DMA_ID'], inplace=True)

In [ ]:
store.isna().sum().sum()

0

## Sales

In [ ]:
sales.head()

,STORE_KEY,STORE_NUMBER,OPEN_DATE,BUSINESS_DATE_KEY,BUSINESS_DATE,TEMP_CLOSE_INDICATOR,PROJECTION_INCLUDED_INDICATOR,BUSINESS_DATE_FISCAL_DAY_OF_YEAR,BUSINESS_DATE_FISCAL_YEAR,COMP_BUSINESS_DATE_FISCAL_YEAR,COMPARABLE_INDICATOR,TRANSACTION_FINAL_COUNT,NET_SALES_FINAL_USD_AMOUNT,PY_TRANSACTION_FINAL_COUNT,PY_NET_SALES_FINAL_USD_AMOUNT
0,1402,580,10/5/2011,20230203,2/3/2023,0.0,0,34,2023,2022,1,201,4161.75,144,2752.42
1,2104,1323,11/21/2017,20221008,10/8/2022,0.0,0,287,2022,2021,1,249,5785.30,166,4407.43
2,1753,969,2/6/2006,20230330,3/30/2023,0.0,0,89,2023,2022,1,258,5695.29,254,5930.04
3,2443,1664,2/3/2020,20230307,3/7/2023,0.0,0,66,2023,2022,1,296,6597.23,153,3726.12
4,1859,1078,3/11/2016,20221105,11/5/2022,0.0,0,315,2022,2021,1,188,4100.34,146,3504.75

In [ ]:
sales['BUSINESS_DATE'] = pd.to_datetime(sales['BUSINESS_DATE'], format='%m/%d/%Y')

In [ ]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 632197 entries, 0 to 632196
Data columns (total 15 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   STORE_KEY                         632197 non-null  int64
 1   STORE_NUMBER                      632197 non-null  int64
 2   OPEN_DATE                         632197 non-null  object
 3   BUSINESS_DATE_KEY                 632197 non-null  int64
 4   BUSINESS_DATE                     632197 non-null  datetime64[ns]
 5   TEMP_CLOSE_INDICATOR              371985 non-null  float64
 6   PROJECTION_INCLUDED_INDICATOR     632197 non-null  int64
 7   BUSINESS_DATE_FISCAL_DAY_OF_YEAR  632197 non-null  int64
 8   BUSINESS_DATE_FISCAL_YEAR         632197 non-null  int64
 9   COMP_BUSINESS_DATE_FISCAL_YEAR    632197 non-null  int64
 10  COMPARABLE_INDICATOR              632197 non-null  int64
 11  TRANSACTION_FINAL_COUNT           632197 non-null  int64
 12  NET_SALES_FINAL_USD_AMOUNT        632197 non-null  float64
 13  PY_TRANSACTION_FINAL_COUNT        632197 non-null  int64
 14  PY_NET_SALES_FINAL_USD_AMOUNT     632197 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(10), object(1)
memory usage: 72.3+ MB

In [ ]:
## Dropping the Irrelevant Features
sales_new = sales.iloc[:,[1,2,3,4,6,11,12,13,14]]

In [ ]:
sales_new.head()

,STORE_NUMBER,OPEN_DATE,BUSINESS_DATE_KEY,BUSINESS_DATE,PROJECTION_INCLUDED_INDICATOR,TRANSACTION_FINAL_COUNT,NET_SALES_FINAL_USD_AMOUNT,PY_TRANSACTION_FINAL_COUNT,PY_NET_SALES_FINAL_USD_AMOUNT
0,580,10/5/2011,20230203,2023-02-03,0,201,4161.75,144,2752.42
1,1323,11/21/2017,20221008,2022-10-08,0,249,5785.30,166,4407.43
2,969,2/6/2006,20230330,2023-03-30,0,258,5695.29,254,5930.04
3,1664,2/3/2020,20230307,2023-03-07,0,296,6597.23,153,3726.12
4,1078,3/11/2016,20221105,2022-11-05,0,188,4100.34,146,3504.75

In [ ]:
sales_new.isna().sum()

STORE_NUMBER                     0
OPEN_DATE                        0
BUSINESS_DATE_KEY                0
BUSINESS_DATE                    0
PROJECTION_INCLUDED_INDICATOR    0
TRANSACTION_FINAL_COUNT          0
NET_SALES_FINAL_USD_AMOUNT       0
PY_TRANSACTION_FINAL_COUNT       0
PY_NET_SALES_FINAL_USD_AMOUNT    0
dtype: int64

In [ ]:
sales_new.dtypes

STORE_NUMBER                              int64
OPEN_DATE                                object
BUSINESS_DATE_KEY                         int64
BUSINESS_DATE                    datetime64[ns]
PROJECTION_INCLUDED_INDICATOR             int64
TRANSACTION_FINAL_COUNT                   int64
NET_SALES_FINAL_USD_AMOUNT              float64
PY_TRANSACTION_FINAL_COUNT                int64
PY_NET_SALES_FINAL_USD_AMOUNT           float64
dtype: object